@charset "UTF-8";

.bandeira{
  background-position: center;
}

.bandeira > h1{
  width: 90%;
  font-size: 1.15em
}

.logo > a > img{
  width: 80px;
}

.imenu span {
display: block;
width: 20px;
height: 2px;
margin-bottom: 5px;
}

.btn-contato{
font-size: 0.7em;
width: 100px;
}

.advogado{
  height: 250px;
  width: 250px;
}

 .txt> h1{
  font-size: 1.4em;
  margin-bottom: 10px;
}

.txt> p{
  width: 85%;
  line-height: 1.5em;
  font-size: 1.1em;
  margin: auto;
  margin-bottom: 20px;
}

h1{
  font-size: 1.3em;
}

  
.direito-conteudo h1{
  font-size: 1.3em;
  width: 85%;
  margin: auto;
}

.direito-conteudo p{
  font-size: 1.1em;
  width: 85%;
  margin: auto;
}


.destaques h1{
font-size: 1.2em;

}


#valores {
 height: 750px;
}

.txt-missao{
  margin-top: 10px;
  width: 80%;
  margin: auto; 
}

